body{
    margin: 0;
    padding: 0;
    background-image: url('./Login+Bg.42dc57c9251f8d596709.webp'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(9, 172, 9);
}
#form{
    display: flex;
    justify-content: center;
    /* background-color: white; */
    width: 500px;
    height: 600px;
    border-radius: 20px;
    background-color:transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0  10px rgba(0,0,0,.2)
}
#form:hover{
    border: 1px solid rgb(9, 172, 9);
}
input{
    
    /* border: 1px solid rgb(0, 0, 0); */
    /* background-color: rgb(0, 0, 0); */
    color: white;
    width: 450px;
    height: 40px;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
    background-color:transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0  10px rgba(0,0,0,.2)
}
input:hover{
    border:1px solid rgb(9, 172, 9);
}
a{
    color: rgb(0, 0, 0);
    /* padding-left: 100px; */
}
a:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
p{
    padding-left: 100px;   
}
h1{
    text-align: center;
}
.texts{
    padding: 70px;
}
.form-div{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#submit{
    width: 450px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(9, 172, 9);
    color: white;
    font-size: larger;
    cursor: pointer;
}
#submit:hover{
    background-color:transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0  10px rgba(0,0,0,.2)
}
label{
    font-size: large;
    font-weight:500;
    /* padding-bottom: 30px; */
}
.google-p{
   padding: 10px;
   /* font-size: 20px; */
   font-weight: 500px;
   color: #706d6d;
}
#googlebtn{
    width: 450px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:#1e69ff;
    color: rgb(255, 255, 255);
    font-size: larger;
    cursor: pointer;
}
#googlebtn:hover{
    background-color: rgb(9, 172, 9);
}
img{
    gap: 20px;
    width: 20px;
}
span{
    padding-bottom: 20px;
}
.p{
    color: rgb(9, 172, 9);

}
h1:hover{
    color: rgb(9, 172, 9);
    cursor: pointer;
}